body {
    margin-top: 2%;
    background-color: #74a3b7;
    background-image: url(https://images.unsplash.com/photo-1570556319136-3cfc640168a4);
    color: black;
    text-align: center;
    font-family: roboto;
    display: block;
    font-size: large;
}
a {
    border: 1px solid #000000;
    padding: 15px;
    background-color: #E2E2E2;
    color:black;
}
h1 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    color: aliceblue;
    font-family: "Roboto";
    font-size: 50px;
}
select{
    height: 50px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
select {
    font: inherit;
}
.country{
    position: relative;
    color: black;
    font-size: 25px;
    padding: 10px;
    margin: 4px;
    background-color: aliceblue;
    width: 30%;
    left: 35%;
}